<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.type.automotive"
        android:required="true" />

    <!-- Opt out of implicit hardware features that AAOS head units may not report.
         Without these the system package manager silently filters the app out of the
         launcher, Settings "Open" button, and Play Store "Open" button. -->
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.screen.portrait"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.screen.landscape"
        android:required="false" />
    <!-- Implied by ACCESS_WIFI_STATE / BLUETOOTH permissions in the main manifest -->
    <uses-feature
        android:name="android.hardware.wifi"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.bluetooth"
        android:required="false" />

    <application android:appCategory="video">
        <meta-data
            android:name="com.android.automotive"
            android:resource="@xml/automotive_app_desc" />
        <meta-data
            android:name="com.android.automotive.application.DISTRACTION_OPTIMIZED"
            android:value="true" />
        <meta-data
            android:name="com.google.android.gms.car.application"
            tools:node="remove" />
        <meta-data
            android:name="com.google.android.gms.car.notification.SmallIcon"
            tools:node="remove" />
        <activity
            android:name=".MainActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation|keyboard|keyboardHidden|navigation|uiMode"
            android:exported="true"
            android:launchMode="singleTask"
            android:supportsPictureInPicture="false"
            tools:node="replace">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.CAR_MODE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.APP_MUSIC" />
            </intent-filter>
            <meta-data
                android:name="distractionOptimized"
                android:value="true" />
        </activity>
    </application>
</manifest>